.redes {
    text-align: center;
    background-color: black;



    a {
            color: white;

            &:hover {
                color: $footercolor1;
            }

            &:active {
                color:  $footercolor1;
            }

            &:focus {
                color: $footercolor1;
            }
            }

        i {
            font-size: 25px;
            letter-spacing: 15px;
            padding-top: 5px;
        }



}

