.interviews {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;

        h1 { 
        margin: 20px;
        width: 100%;
        text-align: center;
        font-size: 50px;
        color: black;

            strong { 
                background-color: rgba(255, 255, 255, 0.734);
                border-radius: 4px;
                padding: 2px 7px;
        }
        }

        .interviews__item {
            width: 250px;
            margin: 15px 35px;
            font-size: 20px;
            color: black;
            text-align: center;
            transition: transform .5s;
            background-color: rgba(255, 255, 255, 0.3);

            a {
                color: black;
            }


            &:hover {
                transform: scale(1.1) translateY(-30px);
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                
            }
            
            :visited  {
                color: black;
            }
    

            .img__interviews{
                width: 250px;
                height: 250px;
                object-fit: cover;
            }
        }

        
}

